body {
    scroll-behavior: smooth;
    font-family: "Public Sans", sans-serif;
    font-size: 5vmin;
    background-color: black;
    color: aqua;
    font-weight: 900;
}

h1 {
    font-size: 20vmin; 
}

h2 {
    font-size: 18vmin;
}

h3 {
    font-size: 16vmin;
}

h4 {
    font-size: 14vmin;
}

h5 {
    font-size: 12vmin;
}

.hidden {
  opacity: 0;
  transform: translateY(50px); /* slide up from bottom */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

section {
    min-height: 100vh; /* Each section fills the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 60px 20px;
    box-sizing: border-box;
}

#content-section-09 {
    margin-bottom: 1400px;
}

img {
   width: auto;
   max-height: 480px; /* Or any fixed height */
   object-fit: cover; /* or contain, fill, etc. */
}

